<div id="preloader">
	<img class="logo" src="assets/images/logo1.png" alt="" width="119" height="58">
	<div id="status">
		<span></span>
		<span></span>
	</div>
</div>
<!--end of preloading-->
<!--login form popup-->

<!--end of signup form popup-->

<!-- BEGIN | Header -->
<header class="ht-header full-width-hd">
	<div class="row">
		<nav id="mainNav" class="navbar navbar-default navbar-custom">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header logo">
				<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<div id="nav-icon1">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<a routerLink="/home"><img class="logo" src="assets/images/logo1.png" alt="" width="119"
						height="58"></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav flex-child-menu menu-left">
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li class="dropdown first">
						<a routerLink="/home" class="btn btn-default dropdown-toggle lv1">
							Home
						</a>
						<!-- <ul class="dropdown-menu level1">
								<li><a href="index-2.html">Home 01</a></li>
								<li><a href="homev2.html">Home 02</a></li>
								<li><a href="homev3.html">Home 03</a></li>
							</ul> -->
					</li>
					<li class="dropdown first">
						<a routerLink="/movie" class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown"
							data-hover="dropdown">
							Movie
							<!-- <i class="fa fa-angle-down" aria-hidden="true"></i> -->
						</a>
						<!-- <ul class="dropdown-menu level1"> -->
						<!-- <li><a routerLink="/movie" href="./moviegridfw.html">Action</a></li>
								<li><a routerLink="/movie" href="./moviegridfw.html">Comedy</a></li>
								<li><a routerLink="/movie" href="./moviegridfw.html">Drama</a></li>
								<li><a routerLink="/movie" href="./moviegridfw.html">Fantasy</a></li>
								<li><a routerLink="/movie" href="./moviegridfw.html">Horror</a></li>
								<li><a routerLink="/movie" href="./moviegridfw.html">Mystery</a></li>
								<li><a routerLink="/movie" href="./moviegridfw.html">Romance</a></li>
								<li><a routerLink="/movie" href="./moviegridfw.html">Thriller</a></li> -->
						<!-- <li><a href="homev3.html">Home 03</a></li> -->


						<!-- </ul> -->
					</li>
					<li class="dropdown first">
						<a routerLink="/series" href="./seriesgridfw.html" class="btn btn-default dropdown-toggle lv1">
							TV Shows
						</a>
						<!-- <ul class="dropdown-menu level1">
								<li><a href="index-2.html">Home 01</a></li>
								<li><a href="homev2.html">Home 02</a></li>
								<li><a href="homev3.html">Home 03</a></li>
							</ul> -->
					</li>
					<li *ngIf="(auth.isAuthenticated$ | async)!==false" class="dropdown first">
						<a routerLink="/profile" class="btn btn-default dropdown-toggle lv1">
							profile
						</a>
						<!-- <ul class="dropdown-menu level1">
								<li><a href="index-2.html">Home 01</a></li>
								<li><a href="homev2.html">Home 02</a></li>
								<li><a href="homev3.html">Home 03</a></li>
							</ul> -->
					</li>
					<!-- <li class="dropdown first">
							<a href="/moviegridfw.html" class="btn btn-default dropdown-toggle lv1" >
							movies
							</a>
							<ul class="dropdown-menu level1">
								<li class="dropdown">
									<a href="#">about us <i class="fa fa-caret-right" aria-hidden="true"></i></a>
									<ul class="dropdown-menu level2">
										<li><a href="aboutv1.html">About Us 01</a></li>
										<li><a href="aboutv2.html">About Us 02</a></li>
									</ul>
								</li>
								<li><a href="moviegrid.html">Movie grid</a></li>
								<li><a href="moviegridfw.html">movie grid full width</a></li>
								<li><a href="movielist.html">Movie list</a></li>
								<li class="it-last"><a href="moviesingle.html">Movie single</a></li>
							</ul>
						</li> -->
					<!-- <li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							celebrities <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="celebritygrid01.html">celebrity grid 01</a></li>
								<li><a href="celebritygrid02.html">celebrity grid 02 </a></li>
								<li><a href="celebritylist.html">celebrity list</a></li>
								<li class="it-last"><a href="celebritysingle.html">celebrity single</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							news <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="bloglist.html">blog List</a></li>
								<li><a href="bloggrid.html">blog Grid</a></li>
								<li class="it-last"><a href="blogdetail.html">blog Detail</a></li>
							</ul>
						</li>
						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							community <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="userfavoritegrid.html">user favorite grid</a></li>
								<li><a href="userfavoritelist.html">user favorite list</a></li>
								<li><a href="userprofile.html">user profile</a></li>
								<li class="it-last"><a href="userrate.html">user rate</a></li>
							</ul>
						</li> -->
				</ul>
				<ul class="nav navbar-nav flex-child-menu menu-right">
					
					<li *ngIf="(auth.isAuthenticated$ | async)!==false"  class="dropdown first">
						<button (click)="onlogout()" style="color: white;" class="button">Logout</button>
						<!-- <a (click)="onlogout()" style="color: white;"  class="btn btn-default dropdown-toggle lv1">
							logout
						</a> -->
						<!-- <ul class="dropdown-menu level1">
								<li><a href="landing.html">Landing</a></li>
								<li><a href="404.html">404 Page</a></li>
								<li class="it-last"><a href="comingsoon.html">Coming soon</a></li>
							</ul> -->
					</li>
					<!-- <li><a href="#">Help</a></li> -->
					<button *ngIf="(auth.isAuthenticated$ | async)===false" (click)="onlogin()" (click)="onlogout()" style="color: white;" class="button">LOG In</button>
					<!-- <li *ngIf="(auth.isAuthenticated$ | async)===false" (click)="onlogin()" class="loginLink"><a href="#">LOG In</a></li> -->
					<!-- <li *ngIf="!islogin" class="btn signupLink"><a href="#">sign up</a></li> -->
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>
		<!-- search form -->
	</div>

</header>